.font1 {
  font-family: "Playfair";
  font-weight: bold;
}

.caption h3 {
  font-size: 20px;
  border: 1px white solid;
  border-radius: 10px;
  background-color: rgba(6, 81, 121, 0.927);
  margin: auto;
  padding: 10px;
}

.barre {
  background-color: rgba(111, 10, 10, 0.906);
  width: 24%;
  height: 21%;
  transform: translate(270%, -342%) rotate(27deg);
}