.titreDes{
    text-align: center;
    border: 2px solid rgb(37, 194, 233);
    border-radius : 3px;
    margin-bottom : 15px;
    padding: 10px;
    color: white;
    background-color: rgb(37, 194, 233)
}

.titreExp{
    text-align: center;
    border: 2px solid rgb(124, 32, 167);
    border-radius : 3px;
    margin-bottom : 15px;
    padding: 10px;
    color: white;
    background-color: rgb(124, 32, 167)
}