
.image {
    overflow: hidden;
    }

.image-zoom:hover {
        transform:scale(1.25);
        transition: 2s;
        }


.button {
    float: left;
    margin-right: 5px;
}

.prix {
    font-style: italic;
    color : rgb(104, 15, 15);
    font-weight: bold;
    font-size: 1.75em;
}

.titre{
    font-size: 1.75em;
    font-weight: bold;
}

