

.image {
    overflow: hidden;
    }

.image-zoom:hover {
        transform:scale(1.25);
        transition: 2s;
        }


.button {
    float: left;
    margin-right: 5px;
}

.prix {
    padding-top: 5px;
    font-style: italic;
}

