.tablecontent {
    margin-top : 30px;
}

.jour {
    color : rgb(33, 162, 194);
    font-weight: bold;
}

.descriptif {
    color : rgb(37,194,233);
    font-style : italic;
    font-weight: bold;
    padding : 20px;
}

