.tips {

    border: 1px solid white;
    background-color: rgb(34, 179, 215);
    padding : 20px;
    color: white;
    border-radius: 12px;
    
}

.description {
    padding : 20px;
    font-style : italic;
    font-weight: bold;
}

.icon {
    width : 40px;
    height: 40px;
}